*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 10%;
    background: transparent;
    display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
}
.logo{
    font-size: 25px;
    color:#031540;
    font-weight: 700;
    text-decoration: none;
}
.navbar a{
    font-size: 18px;
    color:white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition:.3s;
}

.navbar a:hover,.navbar a.active{
    color:rgb(27, 14, 206);
}
.home{
    height:100vh;
    background:linear-gradient(-90deg,rgb(14, 6, 116) 65%,white 35%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 10%;
}
.home-image{
    display:flex;
    justify-content: center;
    align-items: center;
    width:500px;
    height:500px;
    background: rgb(4, 6, 116);
    border-radius: 50%;
    border:25px solid white;
    outline:25px solid  rgb(4, 6, 116);
}
.home-image img{
    position: relative;
    max-width:280px;
}
.home-content{
    max-width: 600px;
    color:white;
    text-align: right;
}
.home-content h1{
font-size: 55px;
line-height: 1.2;
}
.home-content h3{
    font-size: 40px;
    color:aqua;
   
}

.home-content p{
    font-size: 16px;
    margin-top:20px;
}
.home-sci{
    margin:25px 0 40px;
}
.home-sci a{
    width:40px;
    height:40px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    background:transparent;
    border:2px solid white;
    border-radius: 50%;
    font-size: 20px;
    color:aqua;
    text-decoration: none;
    margin-left: 12px;
    transition: .5s;
}
.home-sci a:hover{
    background: aqua;
    color:white;
}
.btn{
    padding:12px 35px;
    background: aquamarine;
    border-radius: 40px;
    text-decoration: none;
    font-size: 17px;
    color:rgb(213, 10, 10);
    font-weight: 600;
    letter-spacing: 1px;
}